body{
    background-image: url(adarkroom.jpg);
    object-fit: contain; 
}

.center-of-the-world{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

img{
    display: flex;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    border-color: solid black 1em;
    border-left-width: 1.6em ;
    border-right-width:1.6em ;
    border-top-width:1.6em ;
    border-bottom-width:1.6em ;
    box-shadow: 99px 100px 40px 4px rgba(0,0,0,0.75);
}

a{
text-decoration: none;
color: blueviolet;
width: 160px;
height: 25px;
display: flex;
margin: 0 auto;
text-align: center;
box-shadow: 99px 100px 40px 4px rgba(0,0,0,0.75);
}
